<form action="/books/details" method="post">
    <label for="titleInput">Title: <input id="titleInput" type="text" name="title"></label><br>
    <label for="imageInput">Cover art: <input id="imageInput" type="text" name="coverArt"></label><br>
    <br>
    <button>add book</button>
</form>