<h2>Add a book</h2>
<br>
<form action="/books/add-book" method="post">
    <label for="titleInput">Title: <input id="titleInput" type="text" name="title" placeholder="The Shining"></label><br>
    <br>
    <label for="publishedInput">Title: <input id="publishedInput" type="text" name="published" placeholder="mm/dd/yyyy"></label><br>
    <br>
    <label for="imageInput">Cover art: <input id="imageInput" type="text" name="coverArt"></label><br>
    <br>
    <button>add book</button>
</form>