<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <nav>
        <div>
            <a href="/">Home</a>
            <a href="/books">Books</a>
            <a href="/authors">Authors</a>
        </div>
        <div id="searchBar">
            <form action="/search" method="get">
                <label for="searchQueryInput">
                    <input id="searchQueryInput" name="query" type="text" placeholder="search">
                    <button>Search</button>
                </label>
            </form>
        </div>
    </nav>
    {{{ body }}}
</body>
</html>