body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
    color: rgb(74, 187, 240);
}

nav > a {
    margin: 1rem;
    text-decoration: none;
    color: rgb(74, 187, 240);
}

nav > a:hover {
    color: red;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.author-wrapper {
    margin: 1rem 3rem;
}

.infoCard {
    width: 300px;
}

img {
    height: 300px;
    max-width: 300px;
}