body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
    color: rgb(74, 187, 240);
}

button:hover {
    background-color: black;
    color: white;
}

a {
    margin: 0.5rem;
    text-decoration: none;
    color: rgb(74, 187, 240);
}

a:hover {
    color: red;
}

nav {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

#searchBar {
    margin: 0 5rem 0 0px;
}

#searchBar input {
    width: 20vw;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.searchResultsContainer{
    display: flex;
    justify-content: space-evenly;
}

.author-wrapper {
    margin: 1rem 3rem;
}

.infoCard {
    width: 300px;
}

.authorsBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    height: 300px;
    max-width: 300px;
}

/* sign up form */

#signUpForm {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 2rem 3rem 3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5rem);
    background-color: rgb(39, 39, 39);
    border-radius: 1rem;
    box-shadow: 1px 3px 5px black;
}