<div id="signUpForm">
    <h3>Login form</h3>
    <form action="/user/login" method="POST">
        <label>email: <input type="text" name="email"></label>
        <br><br>
        <label>password: <input type="text" name="password"></label>
        <br><br>
        <button>login</button>
    </form>

    {{#if errorMessage}}
        <p>{{ errorMessage }}</p>
    {{/if}}
</div>